
/* ===== Hanken ===== */
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk/HankenGrotesk-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk/HankenGrotesk-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* ===== Diether ===== */
@font-face {
  font-family: 'Diether';
  src: url('/fonts/Diether/Diether-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Diether';
  src: url('/fonts/Diether/Diether-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Diether';
  src: url('/fonts/Diether/Diether-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Diether';
  src: url('/fonts/Diether/Diether-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Diether';
  src: url('/fonts/Diether/Diether-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* ===== Diether Italic ===== */
@font-face {
  font-family: 'Diether';
  src: url('/fonts/Diether/DietherItalic-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Diether';
  src: url('/fonts/Diether/DietherItalic-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Diether';
  src: url('/fonts/Diether/DietherItalic-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Diether';
  src: url('/fonts/Diether/DietherItalic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Diether';
  src: url('/fonts/Diether/DietherItalic-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}



@import './reset.scss';
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
  font-size: calc(100vw / 1920 * 10);
  font-variation-settings: 'wght' 400;
  overflow: hidden auto;
   @media (max-width: 768px) {
    font-size: calc(100vw / 320 * 10);
  }
}

body {
  color: #fff;
  background: #000;
}


::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::selection {
  color: #000;
  background: #ff0000;
}
